<ng-container *ngIf="selectedObjectFields">
  <div *ngFor="let field of selectedObjectFields">
    <div class="listEntry">
      <div class="entryName"
           (click)="field.IsCollapsed = !field.IsCollapsed"
           [ngClass]="field.IsCollapsed === false ? 'selected' : ''">
        {{field.Properties.Name.value}}
      </div>
      <div class="button"
           (click)="fieldService.CopyFieldInSelectedObject(field)">
        <i class="fas fa-copy"></i>
      </div>
      <div class="button"
           (click)="fieldService.DeleteField(field)">
        <i class="fas fa-trash"></i>
      </div>
    </div>
    <app-properties-list *ngIf="!field.IsCollapsed"
                         [properties]="field.Properties"></app-properties-list>
  </div>

</ng-container>
