<ng-container *ngIf="selectedObject">
  <ng-container *ngIf="selectedObjectFields">

    <div *ngFor="let field of selectedObjectFields">
      <span (click)="field.IsCollapsed = !field.IsCollapsed">
        {{field.Properties.Name.value}}
      </span>
      <span (click)="fieldService.CopyFieldInSelectedObject(field)">Copy</span>
      <span (click)="fieldService.DeleteField(field)">Delete</span>

      <div [hidden]="field.IsCollapsed">
        <app-properties-list [properties]="field.Properties"></app-properties-list>
      </div>
    </div>

  </ng-container>
  <span (click)="fieldService.AddField(selectedObject)">Add</span>
</ng-container>
