<div style="display: flex">
  <app-sammlung style="width: 250px; flex-shrink: 0"
                [samlung]="samlung"
                (itemClicked)="itemClicked($event)"
                (addTemplate)="addTemplate()"></app-sammlung>
  <app-main style="width: 100%"
            [selectedTemplate]="selectedTemplate"></app-main>
  <app-properties style="width: 250px; flex-shrink: 0"
                  [selectedTemplate]="selectedTemplate"
                  (addComponent)="addComponent($event)" (changeComponentType)="changeComponentType($event.IComponent, $event.ComponentType)"></app-properties>
</div>
