<a class="mainEditorContent__anker">bla</a>
<div class="mainContent">
  <div *ngIf="selectedObject">
    <div *ngIf="selectedObject.EntityType === entityTypes.CharacterTemplate
                || selectedObject.EntityType === entityTypes.ObjectTemplate">
      <app-fields-display [selectedObject]="selectedObject"></app-fields-display>
    </div>
  </div>

  <label>Filepath:</label>
  <input [(ngModel)]="FilePath" />

  <button class="mainContent__button" (click)="Load()">
    Laden
  </button>

  <button (click)="CreateFile()">
    Speichern
  </button>
  <label>Replace/Add Value</label>
  <input [(ngModel)]="input" >
  <label>Replace/Add Index Value</label>
  <input [(ngModel)]="index" >
  <button (click)="Modify()">
    Replace
  </button>
  <button (click)="Add()">
    Add
  </button>
  <button (click)="Delete()">
    DeleteItem
  </button>
  <button>
    Neu
  </button>
  <label>
    {{GetResult()}}
  </label>

  <div *ngFor="let itm of this.DatabaseItems()">
    <label>
      {{itm.Name}}
    </label>
  </div>

</div>
