<div *ngIf="selectedObject">
  <div>
    {{selectedObject.Properties.Name.value}}
  </div>
  <div *ngIf="properties">
    <app-properties-list [properties]="properties"></app-properties-list>
  </div>
  <div *ngIf="fields">
    <app-fields-list (deleteField)="deleteField.emit({objectID: selectedObject.id, fieldID: $event})"
                     (copyField)="copyField.emit({objectID: selectedObject.id, fieldID: $event})"
                     [fields]="fields">
    </app-fields-list>
    <div (click)="addField.emit(selectedObject.id)">+ Add Field</div>
  </div>
</div>





