<div class="flexContainer">
  <h2 class="formHeadline">Registrieren</h2>

  <form [formGroup]="registerForm" (ngSubmit)="userSubmittedForm()" class="userAreaSpace">
    <a routerLink="/user" style="margin: 0 0 20px 0;"><i class="fas fa-chevron-circle-left" style="color:white;"></i> Zurück</a>

    <mat-form-field floatLabel="auto" appearance="legacy">
      <mat-label [class.errorField]="!this.isFieldValid(this.registerForm.controls['email'])">E-Mail</mat-label>
      <input matInput formControlName="email" type="email" required>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="legacy">
      <mat-label [class.errorField]="!this.isFieldValid(this.registerForm.controls['password'])">Passwort (min. 6 Zeichen)</mat-label>
      <input matInput formControlName="password" type="password"  required>
    </mat-form-field>

    <button mat-raised-button [disabled]="!this.isFieldValid(this.registerForm.controls['email']) || !this.isFieldValid(this.registerForm.controls['password'])" type="submit">Registrieren</button>
  </form>
</div>
