<nav class="navbar__navElement editorNavbar">
  <button (click)="editorService.SavePackage()">
  Speichern
  </button>
  <ul class="navbar__navList editorNavbarList">
    <li class="navbar__listItem" routerLink="/editor/chapter" routerLinkActive="navbar__listItem--Active"><a>Chapters</a></li>
    <li class="navbar__listItem" routerLink="/editor/character" routerLinkActive="navbar__listItem--Active"><a>Characters</a></li>
    <li class="navbar__listItem" routerLink="/editor/object" routerLinkActive="navbar__listItem--Active"><a>Object</a></li>
    <li class="navbar__listItem" routerLink="/editor/template" routerLinkActive="navbar__listItem--Active"><a>Template</a></li>
  </ul>
</nav>
