<app-editor-navbar></app-editor-navbar>
<div class="alignContent">

  <div class="contentOrganizerModule">
    <app-content-organizer-module [objectListObservable]="objectTabService.GetObjectsObservable()"></app-content-organizer-module>
  </div>

  <div class="mainContentModule">
    <app-main-content-module></app-main-content-module>
  </div>

  <div class="propertiesModule">
    <app-properties-module [selectedObjectObservable]="objectTabService.GetSelectedObjectObservable()"
                           [templatesObservable]="objectTabService.GetTemplatesEnum()"></app-properties-module>
  </div>

</div>
