<app-editor-navbar></app-editor-navbar>
<div class="alignContent">

  <div class="contentOrganizerModule">
    <app-content-organizer-module [objectListObservable]="objectTabService.GetObjectsObservable()"
                                  (addObject)="objectTabService.AddObject()"
                                  (copyObject)="objectTabService.CopyObject($event)"
                                  (deleteObject)="objectTabService.DeleteObject($event)"
                                  (selectObject)="objectTabService.SelectObject($event)"></app-content-organizer-module>
  </div>

  <div class="mainContentModule">
    <app-main-content-module></app-main-content-module>
  </div>

  <div class="propertiesModule">
    <app-properties-module [selectedObjectObservable]="objectTabService.GetSelectedObjectObservable()"></app-properties-module>
  </div>

</div>
