<app-editor-navbar></app-editor-navbar>
<p>template-tab works!</p>
<div class="alignContent">

  <div class="contentOrganizerModule">
    <app-content-organizer-module [objectListObservable]="templateTabService.GetTemplatesObservable()"
                                  (addObject)="templateTabService.AddTemplate()"
                                  (copyObject)="templateTabService.CopyTemplate($event)"
                                  (deleteObject)="templateTabService.DeleteTemplate($event)"
                                  (selectObject)="templateTabService.SelectTemplate($event)">
    </app-content-organizer-module>
  </div>

  <div class="mainContentModule">
    <app-main-content-module></app-main-content-module>
  </div>

  <div class="propertiesModule">
    <app-properties-module [selectedObjectObservable]="templateTabService.GetSelectedTemplateObservable()"
                           (deleteField)="templateTabService.DeleteField($event)"
                           (copyField)="templateTabService.CopyField($event)"
                           (addField)="templateTabService.AddField($event)">
    </app-properties-module>
  </div>

</div>
