<div class="flexContainer">
  <form [formGroup]="loginForm" (ngSubmit)="userSubmittedForm()" style="display:flex;flex-direction: column;">
    <h5 *ngIf="loginFailed" style="color: red; margin:auto;">Fehler beim einloggen, versuche es erneut.</h5>

    <mat-form-field appearance="fill" style="margin:auto;">
      <mat-label>E-Mail</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin:auto;">
      <mat-label>Passwort</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>

    <button mat-raised-button type="submit" style="margin:auto;">Einloggen</button>
  </form>
</div>
