<div class="flexContainer">
  <form [formGroup]="loginForm" (ngSubmit)="userSubmittedForm()" class="userAreaSpace">
    <mat-form-field floatLabel="auto" appearance="legacy">
      <mat-label [class.errorField]="!this.isFieldValid(this.loginForm.controls['email'])">E-Mail</mat-label>
      <input matInput formControlName="email" type="email" required>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="legacy">
      <mat-label [class.errorField]="!this.isFieldValid(this.loginForm.controls['password'])">Passwort</mat-label>
      <input matInput formControlName="password" type="password" required>
    </mat-form-field>

    <button mat-raised-button [disabled]="!this.isFieldValid(this.loginForm.controls['email']) || !this.isFieldValid(this.loginForm.controls['password'])" type="submit">Einloggen</button>

    <a routerLink="/user/reset-password">Passwort vergessen?</a>
  </form>
</div>
