:host {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column;
}

.toolbar {
  height: 35px;
  display: flex;
  flex-flow: row;
}

.toolbar div {
  height: inherit;
  width: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar div:hover {
  background-color: hsl(0, 0%, 14%);
}

.floatRight {
  margin-left: auto;
}

.editor {
  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-flow: row;
}

.editor * {
  user-select: none;
}

.sidebar {
  width: fit-content;
  height: 100%;

  display: flex;
  flex-flow: row;
}

.sidebar > .list {
  width: 215px;
  height: 100%;

  display: flex;
  flex-flow: column;
}

.list > .head {
  height: 35px;
  display: flex;
}

.head > .heading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head > .button {
  height: inherit;
  width: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.head > .button:hover {
  background-color: hsl(0, 0%, 14%);
}

.list > .content {
  height: 100%;
  overflow: auto;
}

.listEntry {
  height: 24px;
  width: inherit;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.listEntry> .entryName:hover {
  background-color: hsl(0, 0%, 14%)
}

.listEntry > .entryName {
  font-size: small;
  flex-grow: 1;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listEntry > .button {
  height: 100%;
  font-size: small;
  display: none;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.listEntry:hover .button {
  display: flex;
}

.sidebar > .buttonsBar {
  width: 35px;
}

.mainContent {
  flex-grow: 1;
  height: 100%;

  overflow: auto;
}


.buttonsBar > .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding-bottom: 10px;
  padding-top: 10px;
  writing-mode: vertical-lr;
}

.button.left span {
  transform: rotate(180deg);
}

.selected {
  background-color: hsl(0, 0%, 12%) !important;
}

.button:hover {
  background-color: hsl(0, 0%, 14%);
}

.border {
  border: hsl(0, 0%, 12%) 1px solid;
}

.borderTop {
  border-top: hsl(0, 0%, 12%) 1px solid;
}

.borderBottom {
  border-bottom: hsl(0, 0%, 12%) 1px solid;
}

.borderLeft {
  border-left: hsl(0, 0%, 12%) 1px solid;
}

.borderRight {
  border-right: hsl(0, 0%, 12%) 1px solid;
}

