<div *ngIf="selectedTemplate">

  <div *ngFor="let key of objectKeys(selectedTemplate.properties)">
    {{key + ':' + selectedTemplate.properties[key]}}
    <label>
      <input [(ngModel)]="selectedTemplate.properties[key]">
    </label>
  </div>

  <div *ngFor="let component of orderComponents(selectedTemplate.components)">
    <div>{{component.properties.name}}</div>
    <div *ngFor="let key of objectKeys(component.properties)">
      {{key + ':' + component.properties[key]}}
      <div *ngIf="key === 'type'; else isNotType">
        <label>
          <select [value]="component.properties.type" (change)="changeType(component, $event.target.value) //noinspection UnresolvedVariable">
            <option *ngFor="let type of objectKeys(ComponentTypes)" [ngValue]="type">{{type}}</option>
          </select>
        </label>
      </div>
      <ng-template #isNotType>
        <div *ngIf="typeOf(component.properties[key]) === 'string'">
          <label>
            <input type="text" [(ngModel)]="component.properties[key]">
          </label>
        </div>
        <div *ngIf="typeOf(component.properties[key]) === 'number'">
          <label>
            <input type="number" [(ngModel)]="component.properties[key]">
          </label>
        </div>
        <div *ngIf="typeOf(component.properties[key]) === 'boolean'">
          <label>
            <input type="checkbox" [(ngModel)]="component.properties[key]">
          </label>
        </div>
      </ng-template>
    </div>
  </div>

  <div (click)="addComponent.emit(selectedTemplate)">+ Add Component</div>
</div>
