<ng-container *ngIf="fields">
  <div *ngFor="let field of fields"
       [ngSwitch]="field.Properties.Type.value"
       [style.position]="'relative'"
       [style.width]="'fit-content'"
       [style.top]="field.Properties.Top.value + 'px'"
       [style.left]="field.Properties.Left.value + 'px'">

    <!-- Text Box -->
    <div *ngSwitchCase="fieldTypes.TextBox">
      <label>{{field.Properties.Label.value}}
        <input type="text"
               [maxLength]="field.Properties.MaxLength.value"
               [placeholder]="field.Properties.Placeholder.value"
               [readOnly]="field.Properties.ReadOnly.value"
               [size]="field.Properties.Size.value"
               [(ngModel)]="selectedObject.FieldValues[field.ID]">
      </label>
    </div>

    <!-- Number -->
    <div *ngSwitchCase="fieldTypes.Number">
      <label>{{field.Properties.Label.value}}
        <input [min]="field.Properties.Min.value"
               [max]="field.Properties.Max.value"
               [step]="field.Properties.Step.value"
               [readOnly]="field.Properties.ReadOnly.value"
               type="number" [(ngModel)]="selectedObject.FieldValues[field.ID]">
      </label>
    </div>

    <!--  Select -->
    <div *ngSwitchCase="fieldTypes.Select">
      <div *ngIf="field.Properties.Options.value.length > 0">
        <label>{{field.Properties.Label.value}}
          <select [(ngModel)]="selectedObject.FieldValues[field.ID]">
            <option *ngFor="let value of field.Properties.Options.value" [ngValue]="value">{{value}}</option>
          </select>
        </label>
      </div>
    </div>


    <!-- Text Area -->
    <div *ngSwitchCase="fieldTypes.TextArea">
      <label>{{field.Properties.Label.value}}
       <textarea [cols]="field.Properties.Cols.value"
                  [rows]="field.Properties.Rows.value" [style.height]="'unset'"
                  [maxLength]="field.Properties.MaxLength.value"
                  [placeholder]="field.Properties.Placeholder.value"
                  [readOnly]="field.Properties.ReadOnly.value"
                  [style.resize]="field.Properties.Resize.value ? '': 'none'"
                  [(ngModel)]="selectedObject.FieldValues[field.ID]"></textarea>
      </label>
    </div>

    <!-- Checkbox -->
    <div *ngSwitchCase="fieldTypes.CheckBox">
      <label>{{field.Properties.Label.value}}
       <input type="checkbox" [(ngModel)]="selectedObject.FieldValues[field.ID]">
      </label>
    </div>

    <!-- Radio -->
    <div *ngSwitchCase="fieldTypes.Radio">
      <label>{{field.Properties.Label.value}}
        <input type="radio" [(ngModel)]="selectedObject.FieldValues[field.ID]">
      </label>
    </div>

    <!-- Range -->
    <div *ngSwitchCase="fieldTypes.Range">
      <label>{{field.Properties.Label.value}}
        <input [min]="field.Properties.Min.value"
               [max]="field.Properties.Max.value"
               [step]="field.Properties.Step.value"
               [readOnly]="field.Properties.ReadOnly.value"
               type="range" [(ngModel)]="selectedObject.FieldValues[field.ID]">
        {{selectedObject.FieldValues[field.ID]}}
      </label>
    </div>

    <!-- Table -->
    <div *ngSwitchCase="fieldTypes.Table">
      <label>{{field.Properties.Label.value}}</label>
      <table [style.width]="field.Properties.Width.value"
             [ngStyle]="getTableStyle(field.Properties.TableStyle.value).table">
        <tr *ngFor="let row of field.Properties.Rows.value | ngForNumber;"
            [ngStyle]="getTableStyle(field.Properties.TableStyle.value).tr">
          <td *ngFor="let col of field.Properties.Cols.value | ngForNumber;"
              [ngStyle]="getTableStyle(field.Properties.TableStyle.value).td">
            {{checkTable(field.ID, row, col)}}
            <!--suppress TypeScriptUnresolvedVariable -->
           <div contenteditable="true"
                 (input)="changeTableContent(field.ID, row, col, $event.target.innerHTML)">
              {{selectedObject.FieldValues[field.ID][row][col]}}
            </div>
          </td>
        </tr>
      </table>
    </div>

    <!-- Image -->
    <div *ngSwitchCase="fieldTypes.Image">
      <img *ngIf="selectedObject.FieldValues[field.ID]"
           [src]="selectedObject.FieldValues[field.ID]"
           [style.width]="field.Properties.Width.value"
           [style.height]="field.Properties.Height.value"
           alt="image...">
      <input
        style="display: none"
        type="file" (change)="onFileChanged(field.ID, $event)"
        #fileInput>
      <button (click)="fileInput.click()">Select File</button>
    </div>
  </div>
</ng-container>
