<div *ngIf="selectedObject">
<!--  <pre>{{selectedObject | json}}</pre>-->
  <div *ngFor="let field of selectedObject.Fields"
       [ngSwitch]="field.Properties.Type.value">

    <div *ngSwitchCase="fieldTypes.textBox">
      <label>
        <input type="text" [(ngModel)]="selectedObject.FieldValues[field.ID]">
      </label>
    </div>

    <div *ngSwitchCase="fieldTypes.number">
      <span>Number</span>
    </div>

    <div *ngSwitchCase="fieldTypes.select">
      <span>Select</span>
    </div>

    <div *ngSwitchCase="fieldTypes.textArea">
      <span>TextArea</span>
    </div>

  </div>
</div>
