<div class="flexContainer">
  <form [formGroup]="this.resetPasswordForm" (ngSubmit)="userSubmittedForm()" class="userAreaSpace">
    <a routerLink="/user" style="margin: 0 0 20px 0;"> <i class="fas fa-chevron-circle-left" style="color:white;"></i> Zurück</a>

    <section class="bannerOnSuccess" [hidden]="!this.successSending">
      Erfolgreich Hilfe angefordert, schaue bitte in deine E-Mails.
    </section>

    <mat-form-field floatLabel="auto" appearance="legacy">
      <mat-label [class.errorField]="!this.isFieldValid(this.resetPasswordForm.controls['email'])">E-Mail</mat-label>
      <input matInput [disabled]="this.successSending" formControlName="email" type="email" required>
    </mat-form-field>

    <button mat-raised-button [hidden]="this.successSending && this.successSending !== null"  [disabled]="!this.isFieldValid(this.resetPasswordForm.controls['email']) || this.successSending" [class.disabledBecauseWasSuccess]="this.successSending" type="submit">Hilfe anfordern</button>
  </form>
</div>
