<!-- Template -->
<div *ngIf="objectTemplateList">
  <div *ngFor="let template of objectTemplateList">
    <span (click)="selectObject.emit(template.id)">{{template.Properties.Name.value}}</span>
    <span (click)="copyObject.emit(template.id)">Copy</span>
    <span (click)="deleteObject.emit(template.id)">Delete</span>
  </div>
  <div (click)="addObjectTemplate.emit()">+ Object Template</div>
</div>

<div *ngIf="characterTemplateList">
  <div *ngFor="let template of characterTemplateList">
    <span (click)="selectObject.emit(template.id)">{{template.Properties.Name.value}}</span>
    <span (click)="copyObject.emit(template.id)">Copy</span>
    <span (click)="deleteObject.emit(template.id)">Delete</span>
  </div>
  <div (click)="addCharacterTemplate.emit()">+ Character Template</div>
</div>

<!-- Object -->
<div *ngIf="objectList">
  <div *ngFor="let object of objectList">
    <span (click)="selectObject.emit(object.id)">{{object.Properties.Name.value}}</span>
    <span (click)="copyObject.emit(object.id)">Copy</span>
    <span (click)="deleteObject.emit(object.id)">Delete</span>
  </div>
  <div (click)="addObject.emit()">+ Object</div>
</div>
