<ng-container *ngIf="properties">
  <div class="property" *ngFor="let property of properties | keyvalue: indexOrder">

    <ng-container [ngSwitch]="property.value.type">

      <ng-container *ngSwitchCase="propertyType.string">
        <label>
          <span class="heading">{{property.key}}</span>
          <input type="text"
                 [(ngModel)]="property.value.value">
        </label>
      </ng-container>

      <ng-container *ngSwitchCase="propertyType.number">
        <label>
          <span class="heading">{{property.key}}</span>
          <input type="number"
                 [(ngModel)]="property.value.value">
        </label>
      </ng-container>

      <ng-container *ngSwitchCase="propertyType.boolean">
        <label>
          <span class="heading">{{property.key}}</span>
          <input type="checkbox"
                 [(ngModel)]="property.value.value">
        </label>
      </ng-container>

      <ng-container *ngSwitchCase="propertyType.enum">
        <label>
          <span class="heading">{{property.key}}</span>
          <select (change)="CheckSelectChange(property.value)"
                  [(ngModel)]="property.value.value">
            <option *ngFor="let type of property.value.enum | keyvalue"
                    [ngValue]="type.value">{{type.key}}</option>
          </select>
        </label>
      </ng-container>

      <ng-container *ngSwitchCase="propertyType.options">
        <span class="heading">{{property.key}}</span>
        <div class="option" *ngFor="let value of property.value.value; index as i; trackBy:trackByFn">
          <label>{{i+1 + '.'}}
            <input type="text"
                   [(ngModel)]="property.value.value[i]">
          </label>
          <div class="button" (click)="DeleteFromArray(property.value.value, i)">
            <i class="fas fa-minus"></i>
          </div>
        </div>
        <div class="optionButtons">
          <div class="button plus" (click)="AddToArray(property.value.value)">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </ng-container>

    </ng-container>
  </div>
</ng-container>
