<div class="flexContainer startpageContainerToAlign">
  <div class="startpageContainer">
    <h1 class="startpageSliderContainer__headline">Willkommen</h1>

    <swiper class="startpageSliderContainer" [config]="config" [(index)]="index">
      <div class="startpageSliderContainer__slide" style="background-color: green;">
        <p>SCHLEIDER EINSCH</p>
      </div>

      <div class="startpageSliderContainer__slide" style="background-color: darkred;">
        <p>SCHLEIDER SCHWAI</p>
      </div>

      <div class="startpageSliderContainer__slide" style="background-color: darkolivegreen;">
        <p>SCHLEIDER DRAI</p>
      </div>

      <div class="startpageSliderContainer__slide" style="background-color: sienna;">
        <p>SCHLEIDER FIAR</p>
      </div>
    </swiper>

    <hr class="startpageContainer__hr">

    <h2 class="startpageSliderContainer__headline">News & Updates</h2>

    <img src="assets/nercadium-headline-comingsoon.png" alt="coming-soon" class="comingSoonBanner">
  </div>
</div>
