<div class="flexContainer startpageContainerToAlign">

  <h1 class="startpageSliderContainer__headline">Willkommen</h1>

  <swiper class="startpageSliderContainer" [config]="config" [(index)]="index">
    <div class="startpageSliderContainer__slide" style="background-color: green;">
      <p>SCHLEIDER EINSCH</p>
    </div>

    <div class="startpageSliderContainer__slide" style="background-color: darkred;">
      <p>SCHLEIDER SCHWAI</p>
    </div>

    <div class="startpageSliderContainer__slide" style="background-color: darkolivegreen;">
      <p>SCHLEIDER DRAI</p>
    </div>

    <div class="startpageSliderContainer__slide" style="background-color: sienna;">
      <p>SCHLEIDER FIAR</p>
    </div>
  </swiper>

</div>
